div.container {
  display: grid;
  justify-items: center;
}

button {
  background: rgb(38, 139, 216);
  border-radius: 10px;
  height: 100px;
  width: 200px;
  color: white;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
  outline: none;
  box-shadow: 0 9px #999;
  cursor: pointer;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
